In [88]:
####PART 1: EXTRACTING THE TOP 100 COMPANIES IN INDIA BY MARKET CAP####
from bs4 import BeautifulSoup
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [236]:
driver = webdriver.Chrome()
url = 'https://www.moneycontrol.com/stocks/marketinfo/marketcap/bse/index.html'
driver.get(url)
time.sleep(5)
page_source = driver.page_source
soup = BeautifulSoup(page_source, 'html.parser')

In [42]:
z=soup.find_all('table')[1].find('thead').find_all('th')
headers=[]
for i in range(len(z)):
    headers.append(z[i].text.strip())

In [33]:
y=soup.find_all('table')[1].find('tbody').find_all('tr')

In [40]:
my_list=[]

In [50]:
for i in range(len(y)):
    z=y[i].find_all('td')
    my_rows=[]
    for j in range(len(z)):
        my_rows.append(z[j].text.strip())
    my_list.append(my_rows)

In [43]:
headers

['Company Name',
 'Last Price',
 '% Change',
 '52 wk High',
 '52 wk Low',
 'Market Cap (Rs. cr)']

In [47]:
df=pd.DataFrame(columns=headers)

In [58]:
for i in range(len(my_list)):
    df.loc[len(df)]=my_list[i]

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 101
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company Name         102 non-null    object
 1   Last Price           102 non-null    object
 2   % Change             102 non-null    object
 3   52 wk High           102 non-null    object
 4   52 wk Low            102 non-null    object
 5   Market Cap (Rs. cr)  102 non-null    object
dtypes: object(6)
memory usage: 5.6+ KB

In [68]:
df.columns=['company_name', 'last_price', 'perc_change', '52_wk_high', '52_wk_low','market_cap_cr']

In [ ]:
for col in ('last_price', 'perc_change', '52_wk_high', '52_wk_low','market_cap_cr'):
    df[col]=df[col].str.replace(',','')
    df[col]=df[col].astype(float)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 102 entries, 0 to 101
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   company_name   102 non-null    object
 1   last_price     102 non-null    float64
 2   perc_change    102 non-null    float64
 3   52_wk_high     102 non-null    float64
 4   52_wk_low      102 non-null    float64
 5   market_cap_cr  102 non-null    float64
dtypes: float64(5), object(1)
memory usage: 5.6+ KB

In [78]:
df.drop_duplicates(inplace=True)

In [80]:
df.head()

,company_name,last_price,perc_change,52_wk_high,52_wk_low,market_cap_cr
0,Reliance,2868.55,-0.07,3024.80,2221.05,1940830.96
1,TCS,3858.00,0.63,4254.45,3156.20,1395858.16
4,HDFC Bank,1465.25,0.02,1757.80,1363.45,1114049.25
5,ICICI Bank,1132.40,0.17,1169.30,898.85,796042.20
6,Bharti Airtel,1349.50,0.40,1364.05,783.60,778889.67

In [240]:
####PART 2: EXTRACTING THE TOP GAINERS AND LOSERS IN THE MARKET. STOCK MARKET ANALYSIS####
url = 'https://www.moneycontrol.com/'
page_source = requests.get(url)
soup = BeautifulSoup(page_source.text, 'html.parser')

In [95]:
y=soup.find_all('thead')
z=soup.find_all('tbody')

In [164]:
###Indian indices###
cols=[]
a=y[0].find_all('th')
for i in range(len(a)):
    cols.append(a[i].text.strip())
df_indian_indices = pd.DataFrame(columns=cols)
b=z[0].find_all('td')
rows=[]
for i in range(0,len(b),4):
    row=[]
    for j in range(i,i+4):
        row.append(b[j].text.strip())
    rows.append(row)
for i in range(len(rows)):
    df_indian_indices.loc[len(df_indian_indices)]=rows[i]
df_indian_indices.columns=['index','price','change','perc_change']
for col in ('price','change','perc_change'):
    df_indian_indices[col]=df_indian_indices[col].str.replace(',','')
    df_indian_indices[col]=df_indian_indices[col].astype(float)

In [165]:
print(df_indian_indices.info())
print(df_indian_indices.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        15 non-null     object
 1   price        15 non-null     float64
 2   change       15 non-null     float64
 3   perc_change  15 non-null     float64
dtypes: float64(3), object(1)
memory usage: 600.0+ bytes
None
          index     price  change  perc_change
0      Nifty 50  22468.15  -33.85        -0.15
1    BSE Sensex  73869.96 -135.98        -0.18
2    Nifty Bank  48133.70  -65.80        -0.14
3      Nifty IT  33318.40 -120.35        -0.36
4  BSE SmallCap  47808.15 -151.52        -0.32

In [166]:
###Global Markets###
cols=[]
a=y[1].find_all('th')
for i in range(len(a)):
    cols.append(a[i].text.strip())
df_global_indices = pd.DataFrame(columns=cols)
b=z[1].find_all('td')
rows=[]
for i in range(0,len(b),4):
    row=[]
    for j in range(i,i+4):
        row.append(b[j].text.strip())
    rows.append(row)
for i in range(len(rows)):
    df_global_indices.loc[len(df_global_indices)]=rows[i]
df_global_indices.columns=['index','price','change','perc_change']
for col in ('price','change','perc_change'):
    df_global_indices[col]=df_global_indices[col].str.replace(',','')
    df_global_indices[col]=df_global_indices[col].astype(float)

In [167]:
print(df_global_indices.info())
print(df_global_indices.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        3 non-null      object
 1   price        3 non-null      float64
 2   change       3 non-null      float64
 3   perc_change  3 non-null      float64
dtypes: float64(3), object(1)
memory usage: 120.0+ bytes
None
                  index     price  change  perc_change
0     Nikkei 225 May 21  39096.55   26.87         0.07
1  Straits Times May 21   3302.56  -11.49        -0.35
2      Hang Seng May 21  19241.43 -394.79        -2.01

In [170]:
###Most Active Stocks###
cols=[]
a=y[2].find_all('th')
for i in range(len(a)):
    cols.append(a[i].text.strip())
df_active_indices = pd.DataFrame(columns=cols)
b=z[2].find_all('td')
rows=[]
for i in range(0,len(b),4):
    row=[]
    for j in range(i,i+4):
        row.append(b[j].text.strip())
    rows.append(row)
for i in range(len(rows)):
    df_active_indices.loc[len(df_active_indices)]=rows[i]
df_active_indices.columns=['index','price','change','value_cr']
for col in ('price','change','value_cr'):
    df_active_indices[col]=df_active_indices[col].str.replace(',','')
    df_active_indices[col]=df_active_indices[col].astype(float)

In [171]:
print(df_active_indices.info())
print(df_active_indices.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     5 non-null      object
 1   price     5 non-null      float64
 2   change    5 non-null      float64
 3   value_cr  5 non-null      float64
dtypes: float64(3), object(1)
memory usage: 200.0+ bytes
None
            index    price  change  value_cr
0       HDFC Bank  1466.45    0.40    679.30
1        Reliance  2860.00   -9.65    296.86
2  Kotak Mahindra  1711.40   14.45    189.05
3      ICICI Bank  1125.00   -5.75    169.18
4       Axis Bank  1134.85   -8.90    161.21

In [183]:
###Top Gainers Stocks###
cols=[]
a=y[4].find_all('th')
for i in range(len(a)):
    cols.append(a[i].text.strip())
df_gainers = pd.DataFrame(columns=cols)
b=z[4].find_all('td')
rows=[]
for i in range(0,len(b),4):
    row=[]
    for j in range(i,i+4):
        row.append(b[j].text.strip())
    rows.append(row)
for i in range(len(rows)):
    df_gainers.loc[len(df_gainers)]=rows[i]
df_gainers.columns=['index','price','change','perc_gain']
for col in ('price','change','perc_gain'):
    df_gainers[col]=df_gainers[col].str.replace(',','')
    df_gainers[col]=df_gainers[col].astype(float)
print(df_gainers.info())
print(df_gainers.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      5 non-null      object
 1   price      5 non-null      float64
 2   change     5 non-null      float64
 3   perc_gain  5 non-null      float64
dtypes: float64(3), object(1)
memory usage: 200.0+ bytes
None
             index    price  change  perc_gain
0       Coal India   479.35    9.65       2.05
1         Hindalco   669.50    9.15       1.39
2             BPCL   637.60    8.60       1.37
3  Apollo Hospital  6023.80   69.85       1.17
4        JSW Steel   900.35    9.55       1.07

In [187]:
###Top losers Stocks###
cols=[]
a=y[6].find_all('th')
for i in range(len(a)):
    cols.append(a[i].text.strip())
df_losers = pd.DataFrame(columns=cols)
b=z[6].find_all('td')
rows=[]
for i in range(0,len(b),4):
    row=[]
    for j in range(i,i+4):
        row.append(b[j].text.strip())
    rows.append(row)
for i in range(len(rows)):
    df_losers.loc[len(df_losers)]=rows[i]
df_losers.columns=['index','price','change','perc_loss']
for col in ('price','change','perc_loss'):
    df_losers[col]=df_losers[col].str.replace(',','')
    df_losers[col]=df_losers[col].astype(float)
print(df_losers.info())
print(df_losers.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      5 non-null      object
 1   price      5 non-null      float64
 2   change     5 non-null      float64
 3   perc_loss  5 non-null      float64
dtypes: float64(3), object(1)
memory usage: 200.0+ bytes
None
             index    price  change  perc_loss
0           Nestle  2449.25  -55.15      -2.20
1              M&M  2480.50  -23.20      -0.93
2        Axis Bank  1134.30   -9.45      -0.83
3              TCS  3820.15  -31.30      -0.81
4  SBI Life Insura  1429.15  -10.70      -0.74

In [224]:
###COMMODITIES###
cols=[]
a=y[11].find_all('th')
for i in range(len(a)):
    cols.append(a[i].text.strip())
cols.remove('')
df_commodity = pd.DataFrame(columns=cols)
b=z[11].find_all('td')
rows=[]
for i in range(0,len(b),5):
    row=[]
    for j in range(i,i+5):
        row.append(b[j].text.strip())
    row.remove('')
    rows.append(row)
for i in range(len(rows)):
    df_commodity.loc[len(df_commodity)]=rows[i]
df_commodity.columns=['index','price','change','perc_change']
for col in ('price','change','perc_change'):
    df_commodity[col]=df_commodity[col].str.replace(',','')
    df_commodity[col]=df_commodity[col].astype(float)
print(df_commodity.info())
print(df_commodity.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        4 non-null      object
 1   price        4 non-null      float64
 2   change       4 non-null      float64
 3   perc_change  4 non-null      float64
dtypes: float64(3), object(1)
memory usage: 160.0+ bytes
None
               index    price  change  perc_change
0        Gold Jun 05  73825.0  -542.0        -0.73
1      Silver Jul 05  93506.0 -1761.0        -1.85
2    Crudeoil Jun 18   6587.0     8.0         0.12
3  Naturalgas May 28    228.3     1.2         0.53

In [227]:
###CURRENCIES###
cols=[]
a=y[13].find_all('th')
for i in range(len(a)):
    cols.append(a[i].text.strip())
# cols.remove('')
df_currency = pd.DataFrame(columns=cols)
b=z[13].find_all('td')
rows=[]
for i in range(0,len(b),4):
    row=[]
    for j in range(i,i+4):
        row.append(b[j].text.strip())
#     row.remove('')
    rows.append(row)
for i in range(len(rows)):
    df_currency.loc[len(df_currency)]=rows[i]
df_currency.columns=['index','price','change','perc_change']
for col in ('price','change','perc_change'):
    df_currency[col]=df_currency[col].str.replace(',','')
    df_currency[col]=df_currency[col].astype(float)
print(df_currency.info())
print(df_currency.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        4 non-null      object
 1   price        4 non-null      float64
 2   change       4 non-null      float64
 3   perc_change  4 non-null      float64
dtypes: float64(3), object(1)
memory usage: 160.0+ bytes
None
           index     price  change  perc_change
0  USDINR May 31   83.9950     0.1         0.12
1  EURINR May 31   91.0000     0.0         0.00
2  JPYINR May 31   55.8025     0.0         0.00
3  GBPINR May 31  105.8900     0.0         0.00

In [275]:
####EXTRACTING THE LIST OF TRENDING NEWS AND THEIR URL####
import json
import re

In [263]:
my_dict=json.loads(soup.find_all('script', type='application/ld+json')[3].string)

In [274]:
url=[]
headline=[]
df_news=pd.DataFrame(columns=['headlines','URL'])
for i in range(len(my_dict['itemListElement'])):
    url.append(my_dict['itemListElement'][i]['url'])
    headline.append(my_dict['itemListElement'][i]['name'])
df_news['URL']=url 
df_news['headlines']=headline
df_news.head()

,headlines,URL
0,BJP&#039;s Sambit Patra to observe fast as &#0...,https://www.moneycontrol.com/elections/lok-sab...
1,Madras High Court bars Binny promoters from ac...,https://www.moneycontrol.com/news/business/mad...
2,Foreign education loan: How to get the best deal,https://www.moneycontrol.com/news/business/per...
3,‘Heeramandi’ actress Shruti Sharma on Sharmin ...,https://www.moneycontrol.com/entertainment/tv/...
4,Japanese animation&#039; Studio Ghibli makes h...,https://www.moneycontrol.com/entertainment/mov...

In [280]:
pattern = r'[^a-zA-Z0-9\s]'
df_news['headlines'] = df_news['headlines'].apply(lambda x: re.sub(pattern, '', str(x)))
pattern = r'039'
df_news['headlines'] = df_news['headlines'].apply(lambda x: re.sub(pattern, '', str(x)))
df_news.head()

,headlines,URL
0,BJPs Sambit Patra to observe fast as penanace ...,https://www.moneycontrol.com/elections/lok-sab...
1,Madras High Court bars Binny promoters from ac...,https://www.moneycontrol.com/news/business/mad...
2,Foreign education loan How to get the best deal,https://www.moneycontrol.com/news/business/per...
3,Heeramandi actress Shruti Sharma on Sharmin Se...,https://www.moneycontrol.com/entertainment/tv/...
4,Japanese animation Studio Ghibli makes history...,https://www.moneycontrol.com/entertainment/mov...

In [365]:
####EXTRACTING OTHER IMPORTANT ELEMENTS####
df_other=pd.DataFrame(columns=['Title','Content'])
title=[]
content=[]

ele=soup.find_all('div', class_="list_sepbx")
x=ele[0].find_all('p')[0].text.strip().replace('\n', '').replace('\t', '')
content.append(x[12:])
title.append(x[:12])
x=ele[1].find_all('p')[0].text.strip().replace('\n', '').replace('\t', '')
title.append('in focus')
content.append(x)
x=ele[1].find_all('li')
for i in range(len(x)):
    title.append('in focus')
    content.append(x[i].text.strip().replace('\n', '').replace('\t', ''))
x=ele[2].find_all('p')[0].text.strip().replace('\n', '').replace('\t', '')
title.append('stock watch')
content.append(x)

df_other['Title']=title
df_other['Content']=content
df_other.drop(df_other.loc[df_other['Content']==''].index,inplace=True)

In [366]:
df_other

          Title                                            Content
0  MC EXCLUSIVE  Bandhan Bank may look for an outsider for MD G...
1      in focus  Uneven pay, opacity and central shotcalling fo...
2      in focus  KKR invests $150 million in AI-powered healthc...
3      in focus  NCGTC audit report of Bandhan Bank’s microloan...
5   stock watch  Mankind Pharma’s large fund-raising plan irks ...

In [ ]:
####SUMMARIZING THE LIST OF DATAFRAMES####
# interesting elements: df_other
# trending news and their URLs: df_news
# currency market summary: df_currency
# commodity market summary: df_commodity
# top stocks gaining: df_gainers
# top stocks losing: df_losers
# most active stocks: df_active_indices
# global market: df_global_indices
# Indian market: df_indian_indices
# top 100 Indian companies by market cap and their performances: df

In [410]:
### CONNECTING WITH THE MSSQL Server####
import sqlalchemy as sal
engine=sal.create_engine('mssql://LAPTOP-R3E2GC1C\SQLEXPRESS01/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [415]:
### LOADING ALL THE DATAFRAMES TO THE MS SQL Server ###
def load(df1,df2,df3,df4,df5,df6,df7,df8,df9,df10):
    df1.to_sql('df_other',con=conn,index=False,if_exists='replace')
    df2.to_sql('df_news',con=conn,index=False,if_exists='replace')
    df3.to_sql('df_currency',con=conn,index=False,if_exists='replace')
    df4.to_sql('df_commodity',con=conn,index=False,if_exists='replace')
    df5.to_sql('df_gainers',con=conn,index=False,if_exists='replace')
    df6.to_sql('df_losers',con=conn,index=False,if_exists='replace')
    df7.to_sql('df_active_indices',con=conn,index=False,if_exists='replace')
    df8.to_sql('df_global_indices',con=conn,index=False,if_exists='replace')
    df9.to_sql('df_indian_indices',con=conn,index=False,if_exists='replace')
    df10.to_sql('df_top100',con=conn,index=False,if_exists='replace')

In [419]:
### LOADING ALL THE DATAFRAMES TO CSV FILES ###
def load1(df1,df2,df3,df4,df5,df6,df7,df8,df9,df10):
    df1.to_csv('df_other.csv',index=False)
    df2.to_csv('df_news.csv',index=False)
    df3.to_csv('df_currency.csv',index=False)
    df4.to_csv('df_commodity.csv',index=False)
    df5.to_csv('df_gainers.csv',index=False)
    df6.to_csv('df_losers.csv',index=False)
    df7.to_csv('df_active_indices.csv',index=False)
    df8.to_csv('df_global_indices.csv',index=False)
    df9.to_csv('df_indian_indices.csv',index=False)
    df10.to_csv('df_top100.csv',index=False)

In [416]:
###SEND ALL THE DATAFRAMES TO THE LOAD() TO LOAD TO MS SQL Server ###
load(df_other,df_news,df_currency,df_commodity,df_gainers,df_losers,df_active_indices,df_global_indices,df_indian_indices,df)

In [420]:
###SEND ALL THE DATAFRAMES TO THE LOAD() TO CREATE CSV Files ###
load1(df_other,df_news,df_currency,df_commodity,df_gainers,df_losers,df_active_indices,df_global_indices,df_indian_indices,df)